# Python
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
.venv/

# Environment files
.env

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Build artifacts
build/
dist/
*.egg-info/

# Testing
.pytest_cache/

# Coverage
.coverage
htmlcov/
